+popup('person')(class="_person")
  .popup__dynamic-content.js-popup__dynamic-content
  
  +page-preloader()

  // присылать для пустой выдачи (и добавить класс _show)
  +empty-results-common({
    title: 'Ничего не найдено',
  })
  


