@use 'src/scss/base' as *;
.checkbox-group {
  $root: &;

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.3;
    letter-spacing: -0.01em;

    @include up(md) {
      font-size: 1.8rem;
    }

    @include up(xl) {
      font-size: 2.6rem;
    }
  }

  &__items {
    & > * + * {
      margin-top: 1.6rem;

      #{$root}._radio-big-label & {
        margin-top: 0;
        margin-left: 1.2rem;

        @include up(md) {
          margin-left: 2rem;
        }
      }
    }

    #{$root}._radio-big-label & {
      display: flex;
    }

    .checkbox__label,
    .radio-btn__label {
      font-style: normal;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1.6;

      @include up(md) {
        font-size: 1.8rem;
      }

      #{$root}._radio-big-label & {
        font-weight: 700;
        border: 0.3rem solid var(--surface-default-outline);
        border-radius: 1.2rem;
        padding: 1.4rem 2.4rem !important;
        min-height: 6.8rem !important;
        align-items: center;
        width: 100%;
        height: 100%;
        line-height: 1.4;
        @include transition(all);

        @include up(md) {
          border-radius: 1.6rem;
        }

        @include up(lg) {
          padding: 1.4rem 2rem !important;
        }

        @include up(xl) {
          min-height: 8rem !important;
        }

        &::before,
        &::after,
        .svgsprite._only-checkbox {
          top: 0 !important;
          bottom: 0 !important;
          margin: auto 0 !important;
          transform: translateX(2.4rem);

          @include up(lg) {
            transform: translateX(2rem);
          }
        }

        @include up(xl) {
          font-size: 2rem;
        }
      }

      span {
        padding-left: 1.4rem;

        #{$root}._radio-big-label & {
          padding-left: 1.2rem;

          @include up(md) {
            padding-left: 1.6rem;
          }
        }
      }
    }

    .radio-btn__label {
      span {
        #{$root}._radio-big-label & {
          transform: translateX(2.4rem);
          padding-right: 2.4rem;

          @include up(lg) {
            padding-right: 2rem;
            transform: translateX(2rem);
          }
        }
      }
    }

    input:checked ~ .radio-btn__label,
    input:checked ~ .checkbox__label {
      #{$root}._radio-big-label & {
        background: var(--control-state-bg07);
        border-color: var(--control-state-bg06-outline);
      }
    }
  }

  .input-common__message {
    font-size: 1.4rem;
    margin-top: 0.4rem;

    @include up(md) {
      font-size: 1.5rem;
      margin-top: 0.5rem;
    }
  }

  &__item {
    #{$root}._radio-big-label & {
      width: 50%;
    }
  }
}
