@use 'src/scss/base' as *;

.air-datepicker-cell.-day-.-other-month-,
.air-datepicker-cell.-year-.-other-decade- {
  color: var(--typography-default-secondary);
}

.air-datepicker-cell.-day-.-other-month-:hover,
.air-datepicker-cell.-year-.-other-decade-:hover {
  color: var(--button-state-typo01);
}

.-disabled-.-focus-.air-datepicker-cell.-day-.-other-month-,
.-disabled-.-focus-.air-datepicker-cell.-year-.-other-decade- {
  opacity: 0.6;
}

.-selected-.air-datepicker-cell.-day-.-other-month-,
.-selected-.air-datepicker-cell.-year-.-other-decade- {
  color: var(--button-state-typo03);
  background: var(--button-state-bg03);
}

.-selected-.-focus-.air-datepicker-cell.-day-.-other-month-,
.-selected-.-focus-.air-datepicker-cell.-year-.-other-decade- {
  background: var(--button-default-bg01);
  color: var(--button-state-typo01);
}

.-in-range-.air-datepicker-cell.-day-.-other-month-,
.-in-range-.air-datepicker-cell.-year-.-other-decade- {
  background-color: var(--button-default-bg02);
  color: var(--button-default-typo04);
}

.-in-range-.-focus-.air-datepicker-cell.-day-.-other-month-,
.-in-range-.-focus-.air-datepicker-cell.-year-.-other-decade- {
  background: var(--button-default-bg01);
  color: var(--button-state-typo01);
}

.air-datepicker-cell.-day-.-other-month-:empty,
.air-datepicker-cell.-year-.-other-decade-:empty {
  background: none;
  border: none;
}

.air-datepicker-cell {
  border-radius: 0.8rem;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-weight: 400;
  height: 100%;
  @include transition(all);
}

.air-datepicker-cell.-focus- {
  background: var(--button-default-bg01);
  color: var(--button-state-typo01);
}

.air-datepicker-cell.-current- {
  color: var(--button-state-bg02);
}

.air-datepicker-cell.-current-.-focus- {
  color: var(--button-state-typo01);
}

.air-datepicker-cell.-current-.-in-range- {
  color: var(--button-default-typo04);
}

.air-datepicker-cell.-disabled- {
  cursor: default;
  opacity: 0.6;
}

.air-datepicker-cell.-disabled-.-focus- {
}

.air-datepicker-cell.-disabled-.-in-range- {
}

.air-datepicker-cell.-disabled-.-current-.-focus- {
}

.air-datepicker-cell.-in-range-.-current-.-focus- {
}

.air-datepicker-cell.-in-range- {
  background: var(--button-default-bg02);
  color: var(--button-default-typo04);
  border-radius: 0;

  &:not(.-range-to-, .-range-from-) {
    &.-day- {
      height: 2.5rem;

      @include up(xl) {
        height: 3.2rem;
      }

      &:nth-child(1),
      &:nth-child(8),
      &:nth-child(15),
      &:nth-child(22),
      &:nth-child(29),
      &:nth-child(36) {
        border-top-left-radius: 0.8rem;
        border-bottom-left-radius: 0.8rem;
      }

      &:nth-child(7),
      &:nth-child(14),
      &:nth-child(21),
      &:nth-child(28),
      &:nth-child(35),
      &:nth-child(42) {
        border-top-right-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
      }
    }

    &.-month- {
      height: 3.4rem;

      &:nth-child(1),
      &:nth-child(4),
      &:nth-child(7),
      &:nth-child(10) {
        border-top-left-radius: 0.8rem;
        border-bottom-left-radius: 0.8rem;
      }

      &:nth-child(3),
      &:nth-child(6),
      &:nth-child(9),
      &:nth-child(12) {
        border-top-right-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
      }
    }

    &.-year- {
      height: 2.9rem;

      @include up(xl) {
        height: 3.4rem;
      }

      &:nth-child(1),
      &:nth-child(5),
      &:nth-child(9) {
        border-top-left-radius: 0.8rem;
        border-bottom-left-radius: 0.8rem;
      }

      &:nth-child(4),
      &:nth-child(8),
      &:nth-child(12) {
        border-top-right-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
      }
    }
  }
}

.air-datepicker-cell.-in-range-:hover,
.air-datepicker-cell.-in-range-.-focus- {
  background: var(--button-default-bg01);
  color: var(--button-state-typo01);
}

.air-datepicker-cell.-range-from- {
  border-radius: 0.8rem;
}

.air-datepicker-cell.-range-from-.-other-month-.-focus-,
.air-datepicker-cell.-range-to-.-other-month-.-focus- {
}

.air-datepicker-cell.-range-to- {
  border-radius: 0.8rem;
}

.air-datepicker-cell.-range-to-.-range-from- {
  border-radius: 0.8rem;
}

.air-datepicker-cell.-selected- {
  color: var(--button-state-typo03);
  background: var(--button-state-bg03);
}

.air-datepicker-cell.-selected-.-current- {
  color: var(--button-state-typo03);
  background: var(--button-state-bg03);
}

.air-datepicker-cell.-selected-.-focus- {
  background: var(--button-default-bg01);
  color: var(--button-state-typo01);
}

.air-datepicker-body {
  transition: all $transition-duration $transition-timing-function;
}

.air-datepicker-body.-hidden- {
  display: none;
}

.air-datepicker-body--day-names {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.air-datepicker-body--day-name {
  color: var(--typography-default-tertiary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  @include up(xl) {
    font-size: 1.2rem;
  }
}

.air-datepicker-body--day-name.-clickable- {
  cursor: pointer;
}

.air-datepicker-body--day-name.-clickable-:hover {
  color: var(--button-state-bg02);
}

.air-datepicker-body--cells {
  display: grid;
  align-items: center;
}

.air-datepicker-body--cells.-days- {
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 3.1rem;

  @include up(xl) {
    grid-auto-rows: 3.8rem;
  }
}

.air-datepicker-body--cells.-months- {
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 4rem;
}

.air-datepicker-body--cells.-years- {
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 3.5rem;

  @include up(xl) {
    grid-auto-rows: 4rem;
  }
}

.air-datepicker-nav {
  display: flex;
  justify-content: center;
  min-height: 2.3rem;
  padding: 1.4rem 0.8rem;
  box-sizing: content-box;
  grid-gap: 1rem;

  @include up(xl) {
    padding: 1.8rem 2rem;
  }
}

.-only-timepicker- .air-datepicker-nav {
  display: none;
}

.air-datepicker-nav--title,
.air-datepicker-nav--action {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.air-datepicker-nav--action {
  width: 1.6rem;
  border-radius: 0.4rem;
  @include transition(all);

  @include up(xl) {
    width: 1.8rem;
  }
}

.air-datepicker-nav--action:hover {
  background: var(--button-default-bg01);
  color: var(--button-state-typo01);
}

.air-datepicker-nav--action:active {
  background: var(--button-state-bg02);
  color: var(--button-state-typo02);
}

.air-datepicker-nav--action.-disabled- {
  visibility: hidden;
}

.air-datepicker-nav--action svg {
  width: 100%;
  height: 100%;
}

.air-datepicker-nav--title {
  border-radius: 0.4rem;
  padding: 0 0.8rem;
  @include transition(all);
}

.air-datepicker-nav--title:hover {
  background: var(--button-default-bg01);
  color: var(--button-state-typo01);
}

.air-datepicker-nav--title:active {
  background: var(--button-state-bg02);
  color: var(--button-state-typo02);
}

.air-datepicker-nav--title.-disabled- {
  cursor: default;
  background: none;
}

.air-datepicker-buttons {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  grid-gap: 0.5rem;
}

.air-datepicker-button {
  display: inline-flex;
  color: var(--button-default-typo01);
  border-radius: 1rem;
  height: 3.6rem;
  font-weight: 700;
  font-size: 1.3rem;
  background: var(--button-default-bg01);
  align-items: center;
  justify-content: center;
  text-align: center;
  @include transition(all);

  @include hover {
    color: var(--button-state-typo01);
    background: var(--button-state-bg01);
  }
}

.air-datepicker-button:active {
  background: var(--button-state-bg02);
  color: var(--button-state-typo02);
}

.air-datepicker-button:disabled span {
  opacity: 0.4;
  color: var(--button-default-typo01);
  background: var(--button-default-bg01);
}

.air-datepicker-button span {
  padding-top: 0.2rem;
}

.air-datepicker-time {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 1.2rem;
  align-items: center;
  position: relative;
  padding: 0 1.6rem;
}

.-only-timepicker- .air-datepicker-time {
  border-top: none;
}

.air-datepicker-time--current {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 1.4rem;
  text-align: center;
}

.air-datepicker-time--current-colon {
  margin: 0 2px 3px;
  line-height: 1;
}

.air-datepicker-time--current-hours,
.air-datepicker-time--current-minutes {
  line-height: 1;
  font-size: 1.9rem;
  position: relative;
  z-index: 1;
}

.air-datepicker-time--current-hours:after,
.air-datepicker-time--current-minutes:after {
  content: '';
  background: var(--button-default-bg01);
  border-radius: 0.4rem;
  position: absolute;
  left: -0.2rem;
  top: -0.3rem;
  right: -0.2rem;
  bottom: -0.2rem;
  z-index: -1;
  opacity: 0;
  @include transition(all);
}

.air-datepicker-time--current-hours.-focus-:after,
.air-datepicker-time--current-minutes.-focus-:after {
  opacity: 1;
}

.air-datepicker-time--current-ampm {
  text-transform: uppercase;
  align-self: flex-end;
  margin-left: 0.6rem;
  font-size: 1.1rem;
  margin-bottom: 0.1rem;
}

.air-datepicker-time--row {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  height: 1.7rem;
  background: linear-gradient(to right, var(--button-default-bg02), var(--button-default-bg02)) left 50%/100% 0.1rem
    no-repeat;
}

.air-datepicker-time--row:first-child {
  margin-bottom: 0.4rem;
}

.air-datepicker-time--row input[type='range'] {
  background: none;
  cursor: pointer;
  flex: 1;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
}

.air-datepicker-time--row input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.air-datepicker-time--row input[type='range']::-ms-tooltip {
  display: none;
}

.air-datepicker-time--row input[type='range']:hover::-webkit-slider-thumb {
  border-color: var(--button-state-bg01);
}

.air-datepicker-time--row input[type='range']:hover::-moz-range-thumb {
  border-color: var(--button-state-bg01);
}

.air-datepicker-time--row input[type='range']:hover::-ms-thumb {
  border-color: var(--button-state-bg01);
}

.air-datepicker-time--row input[type='range']:focus {
  outline: none;
}

.air-datepicker-time--row input[type='range']:focus::-webkit-slider-thumb {
  background: var(--button-state-bg01);
  border-color: var(--button-state-bg01);
}

.air-datepicker-time--row input[type='range']:focus::-moz-range-thumb {
  background: var(--button-state-bg01);
  border-color: var(--button-state-bg01);
}

.air-datepicker-time--row input[type='range']:focus::-ms-thumb {
  background: var(--button-state-bg01);
  border-color: var(--button-state-bg01);
}

.air-datepicker-time--row input[type='range']::-webkit-slider-thumb {
  box-sizing: border-box;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 0.3rem;
  border: 0.1rem solid var(--button-default-bg02);
  background: var(--surface-default-surface);
  cursor: pointer;
  transition: background $transition-duration;
}

.air-datepicker-time--row input[type='range']::-moz-range-thumb {
  box-sizing: border-box;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 0.3rem;
  border: 0.1rem solid var(--button-default-bg02);
  background: var(--surface-default-surface);
  cursor: pointer;
  transition: background $transition-duration;
}

.air-datepicker-time--row input[type='range']::-ms-thumb {
  box-sizing: border-box;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 0.3rem;
  border: 0.1rem solid var(--button-default-bg02);
  background: var(--surface-default-surface);
  cursor: pointer;
  transition: background $transition-duration;
}

.air-datepicker-time--row input[type='range']::-webkit-slider-thumb {
  margin-top: calc(1.2rem / 2 * -1);
}

.air-datepicker-time--row input[type='range']::-webkit-slider-runnable-track {
  border: none;
  height: 0.1rem;
  cursor: pointer;
  color: transparent;
  background: transparent;
}

.air-datepicker-time--row input[type='range']::-moz-range-track {
  border: none;
  height: 0.1rem;
  cursor: pointer;
  color: transparent;
  background: transparent;
}

.air-datepicker-time--row input[type='range']::-ms-track {
  border: none;
  height: 0.1rem;
  cursor: pointer;
  color: transparent;
  background: transparent;
}

.air-datepicker-time--row input[type='range']::-ms-fill-lower {
  background: transparent;
}

.air-datepicker-time--row input[type='range']::-ms-fill-upper {
  background: transparent;
}

.air-datepicker {
  background: var(--surface-default-surface);
  box-shadow:
    0 8.5rem 3.4rem rgba(69, 91, 120, 0.01),
    0 4.8rem 2.9rem rgba(69, 91, 120, 0.03),
    0 2.1rem 2.1rem rgba(69, 91, 120, 0.05),
    0 0.5rem 1.2rem rgba(69, 91, 120, 0.06),
    0 0 0 rgba(69, 91, 120, 0.06);
  border-radius: 1.4rem;
  box-sizing: content-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, max-content);
  grid-template-areas: 'nav' 'body' 'timepicker' 'buttons';
  font-size: 1.5rem;
  color: var(--typography-default-primary);
  width: 25.5rem;
  position: absolute;
  transition:
    opacity $transition-duration $transition-timing-function,
    transform $transition-duration $transition-timing-function;
  z-index: 100;
  border: 0.2rem solid var(--additional-outline);

  @include up(xl) {
    width: 33.5rem;
    font-size: 1.8rem;
  }
}

.air-datepicker:not(.-custom-position-) {
  opacity: 0;
}

.air-datepicker.-from-top- {
  transform: translateY(calc(0.8rem * -1));
}

.air-datepicker.-from-right- {
  transform: translateX(0.8rem);
}

.air-datepicker.-from-bottom- {
  transform: translateY(0.8rem);
}

.air-datepicker.-from-left- {
  transform: translateX(calc(0.8rem * -1));
}

.air-datepicker.-active-:not(.-custom-position-) {
  transform: translate(0, 0);
  opacity: 1;
}

.air-datepicker.-active-.-custom-position- {
  transition: none;
}

.air-datepicker.-inline- {
  position: static;
  left: auto;
  right: auto;
  opacity: 1;
  transform: none;
}

.air-datepicker.-inline- .air-datepicker--pointer {
  display: none;
}

.air-datepicker--pointer {
  display: none;
}

.air-datepicker.-is-mobile- {
  position: fixed;
  width: 25.5rem;
  border: none;
}

.air-datepicker.-is-mobile- * {
  -webkit-tap-highlight-color: transparent;
}

.air-datepicker.-is-mobile- .air-datepicker--pointer {
  display: none;
}

.air-datepicker.-is-mobile-:not(.-custom-position-) {
  transform: translate(-50%, calc(-50% + 0.8rem));
}

.air-datepicker.-is-mobile-.-active-:not(.-custom-position-) {
  transform: translate(-50%, -50%);
}

.air-datepicker.-custom-position- {
  transition: none;
}

.air-datepicker-global-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: $header-z-index + 2;
}

.air-datepicker--pointer {
  position: absolute;
  width: 1rem;
  height: 1rem;
  z-index: -1;
}

.air-datepicker--pointer:after {
  content: '';
  position: absolute;
  background: var(--surface-default-surface);
  border-top: 0.1rem solid transparent;
  border-right: 0.1rem solid transparent;
  border-top-right-radius: 0.2rem;
  width: 1rem;
  height: 1rem;
  box-sizing: border-box;
}

.-top-left- .air-datepicker--pointer,
.-top-center- .air-datepicker--pointer,
.-top-right- .air-datepicker--pointer,
[data-popper-placement^='top'] .air-datepicker--pointer {
  top: calc(100% - 0.5rem + 0.1rem);
}

.-top-left- .air-datepicker--pointer:after,
.-top-center- .air-datepicker--pointer:after,
.-top-right- .air-datepicker--pointer:after,
[data-popper-placement^='top'] .air-datepicker--pointer:after {
  transform: rotate(135deg);
}

.-right-top- .air-datepicker--pointer,
.-right-center- .air-datepicker--pointer,
.-right-bottom- .air-datepicker--pointer,
[data-popper-placement^='right'] .air-datepicker--pointer {
  right: calc(100% - 0.5rem + 0.1rem);
}

.-right-top- .air-datepicker--pointer:after,
.-right-center- .air-datepicker--pointer:after,
.-right-bottom- .air-datepicker--pointer:after,
[data-popper-placement^='right'] .air-datepicker--pointer:after {
  transform: rotate(225deg);
}

.-bottom-left- .air-datepicker--pointer,
.-bottom-center- .air-datepicker--pointer,
.-bottom-right- .air-datepicker--pointer,
[data-popper-placement^='bottom'] .air-datepicker--pointer {
  bottom: calc(100% - 0.5rem + 0.1rem);
}

.-bottom-left- .air-datepicker--pointer:after,
.-bottom-center- .air-datepicker--pointer:after,
.-bottom-right- .air-datepicker--pointer:after,
[data-popper-placement^='bottom'] .air-datepicker--pointer:after {
  transform: rotate(315deg);
}

.-left-top- .air-datepicker--pointer,
.-left-center- .air-datepicker--pointer,
.-left-bottom- .air-datepicker--pointer,
[data-popper-placement^='left'] .air-datepicker--pointer {
  left: calc(100% - 0.5rem + 0.1rem);
}

.-left-top- .air-datepicker--pointer:after,
.-left-center- .air-datepicker--pointer:after,
.-left-bottom- .air-datepicker--pointer:after,
[data-popper-placement^='left'] .air-datepicker--pointer:after {
  transform: rotate(45deg);
}

.-top-left- .air-datepicker--pointer,
.-bottom-left- .air-datepicker--pointer {
  left: 1.4rem;
}

.-top-right- .air-datepicker--pointer,
.-bottom-right- .air-datepicker--pointer {
  right: 1.4rem;
}

.-top-center- .air-datepicker--pointer,
.-bottom-center- .air-datepicker--pointer {
  left: calc(50% - 0.5rem / 2);
}

.-left-top- .air-datepicker--pointer,
.-right-top- .air-datepicker--pointer {
  top: 1.4rem;
}

.-left-bottom- .air-datepicker--pointer,
.-right-bottom- .air-datepicker--pointer {
  bottom: 1.4rem;
}

.-left-center- .air-datepicker--pointer,
.-right-center- .air-datepicker--pointer {
  top: calc(50% - 1rem / 2);
}

.air-datepicker--navigation {
  grid-area: nav;
}

.air-datepicker--content {
  box-sizing: content-box;
  padding: 0 0.8rem 1.4rem;
  grid-area: body;

  @include up(xl) {
    padding: 0 2rem 2rem;
  }
}

.-only-timepicker- .air-datepicker--content {
  display: none;
}

.air-datepicker--time {
  grid-area: timepicker;
}

.air-datepicker--buttons {
  grid-area: buttons;
}

.air-datepicker--buttons,
.air-datepicker--time {
  padding: 1.4rem 0.8rem;
  border-top: 0.1rem solid transparent;
}

.air-datepicker-overlay {
  position: fixed;
  background: var(--bg-default-tone);
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  opacity: 0;
  transition:
    opacity $transition-duration $transition-timing-function,
    left 0s,
    height 0s,
    width 0s;
  transition-delay: 0s, $transition-duration, $transition-duration, $transition-duration;
  z-index: 99;
}

.air-datepicker-overlay.-active- {
  opacity: 1;
  width: 100%;
  height: 100%;
  transition:
    opacity $transition-duration $transition-timing-function,
    height 0s,
    width 0s;
}
