@use 'src/scss/base' as *;

.video-common {
  $root: &;

  margin-top: 2.4rem;

  @include up(md) {
    margin-top: 2.8rem;
  }

  @include up(lg) {
    margin-top: 3.6rem;
  }

  @include up(xl) {
    margin-top: 4.2rem;
  }

  &:first-child {
    margin-top: 0 !important;
  }

  &__inner {
    @include aspect(16, 9);
  }

  &__play {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    z-index: 1;
    background: var(--surface-color-yellow);
    box-shadow:
      0 14.8rem 5.9rem rgba(243, 213, 78, 0.01),
      0 8.3rem 5rem rgba(243, 213, 78, 0.04),
      0 3.7rem 3.7rem rgba(243, 213, 78, 0.07),
      0 0.9rem 2rem rgba(243, 213, 78, 0.08),
      0 0 0 rgba(243, 213, 78, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--surface-on-surface-dark-surface);
    @include transition(all);

    @include up(md) {
      width: 12rem;
      height: 12rem;
    }

    svg {
      width: 2.5rem;
      height: 2.5rem;

      @include up(md) {
        width: 4.6rem;
        height: 4.6rem;
      }
    }
  }

  &__overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
    overflow: hidden;
    z-index: 1;
    @include transition(all);

    @include up(md) {
      border-radius: 0.3rem;
    }

    @include up(lg) {
      border-radius: 0.4rem;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(180deg, rgba(3, 28, 64, 0) 0%, rgba(3, 28, 64, 0.7) 100%);

      @include up(md) {
        top: auto;
        height: 90%;
      }

      @include up(lg) {
        height: 60%;
      }

      @include up(xl) {
        height: 50%;
      }
    }

    &._hidden {
      opacity: 0;
      visibility: hidden;
    }

    picture {
      position: static;
    }

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      object-fit: cover;
      margin: auto;
    }

    @include hover {
      #{$root}__play {
        background: var(--button-state-bg01);
        color: var(--button-state-typo01);
      }
    }

    &:active {
      #{$root}__play {
        background: var(--button-state-bg02);
        color: var(--button-state-typo02);
      }
    }
  }

  video,
  iframe {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
    overflow: hidden;
    @include transition((opacity, visibility));

    &._hidden {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__hint {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    color: var(--typography-default-secondary);
    margin-top: 1.2rem;

    @include up(md) {
      font-size: 1.5rem;
      line-height: 1.6;
      margin-top: 1.8rem;
    }

    @include up(lg) {
      font-size: 1.8rem;
    }
  }
}
