@use 'src/scss/base' as *;
@use '~/tom-select/build/css/tom-select.min';

.ts-wrapper {
  $root: &;

  .item {
    display: none !important;
  }

  .input-common__input {
    cursor: pointer;
  }

  &.plugin-dropdown_input {
    .items-placeholder {
      display: initial !important;
    }

    .dropdown-input {
      background: var(--control-default-bg02);
      border-color: var(--control-default-bg03-outline);
      border-style: solid;
      color: var(--control-default-typo01);
      width: 100%;
      text-overflow: ellipsis;
      border-width: 0.2rem;
      border-radius: 0.8rem;
      margin-bottom: 1rem;
      font-size: 1.6rem;
      @include transition((background, border, color));

      &::placeholder {
        color: var(--control-default-typo02);
      }

      @include hover-mouse-only {
        &:hover {
          border-color: var(--control-state-bg05-outline) !important;
        }
      }

      @include focus() {
        border-color: var(--control-state-bg06-outline) !important;
      }
    }
  }

  .ts-dropdown {
    margin-top: 0.8rem;
    background: var(--surface-elevation-elevation1);
    box-shadow:
      0 8.5rem 3.4rem rgba(69, 91, 120, 0.01),
      0 4.8rem 2.9rem rgba(69, 91, 120, 0.03),
      0 2.1rem 2.1rem rgba(69, 91, 120, 0.05),
      0 0.5rem 1.2rem rgba(69, 91, 120, 0.06),
      0 0 0 rgba(69, 91, 120, 0.06);
    border-radius: 1.4rem;
    border: 0.2rem solid var(--additional-outline);
    padding: 0.8rem;
    color: var(--control-default-typo01);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;

    .ts-dropdown-content {
      max-height: 24rem;

      @include hover-mouse-only {
        @include webkit-scrollbar();
      }

      @include up(xl) {
        max-height: 34rem;
      }
    }

    .form-msg__icon._loading {
      position: static;
      width: 3rem;
      height: 3rem;
      border-width: 0.3rem;
      overflow: hidden;
      margin: 1rem auto;
    }

    .optgroup-header {
      font-style: normal;
      font-weight: 700;
      font-size: 1.7rem;
      line-height: 1.5;
      padding: 1rem 1.6rem;
      background: transparent;
      color: var(--control-default-typo01);

      @include up(lg) {
        font-size: 2rem;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
      }

      @include up(xl) {
        font-size: 2.2rem;
        padding: 1.6rem 2.4rem;
      }
    }

    .form-message__icon._loading {
      position: static;
      width: 3rem;
      height: 3rem;
      border-width: 0.3rem;
      overflow: hidden;
      margin: 1rem auto;
    }

    .no-results {
      font-style: normal;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1.5;
      padding: 1rem 1.6rem;

      @include up(lg) {
        font-size: 1.8rem;
        padding-top: 1.3rem;
        padding-bottom: 1.1rem;
      }

      @include up(xl) {
        font-size: 2rem;
        padding: 1.8rem 2.4rem 1.4rem;
      }
    }

    .option {
      font-style: normal;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1.5;
      border-radius: 0.8rem;
      padding: 1rem 1.6rem;
      color: inherit;
      display: flex;
      align-items: center;
      @include transition(all);

      &__inner {
        display: flex;
        flex-direction: column;

        .input-common._is-search & {
          grid-gap: 0.4rem;

          .label {
            font-weight: 700;
          }

          .hint,
          .label {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;

            &:first-letter {
              text-transform: uppercase;
            }
          }

          .label {
            -webkit-line-clamp: 2;
            font-size: 2rem;
            line-height: 1.3;

            @include up(md) {
              font-size: 1.8rem;
            }

            @include up(xl) {
              font-size: 2.2rem;
            }
          }

          .hint {
            -webkit-line-clamp: 4;
            font-size: 1.2rem;

            @include up(md) {
              font-size: 1.4rem;
            }

            @include up(xl) {
              font-size: 1.5rem;
            }
          }
        }

        strong {
          color: var(--typography-default-link);
          @include transition(color);
        }

        .hint {
          color: var(--control-default-typo02);
          @include transition(color);

          @include up(xl) {
            font-size: 1.8rem;
          }
        }
      }

      &.active {
        background: var(--control-state-bg01);

        @mixin altColor() {
          background: var(--button-state-bg01);

          &,
          strong,
          .hint {
            color: var(--button-state-typo01);
          }
        }

        @include alt-color-c-light {
          @include altColor;
        }

        @include alt-color-c-dark {
          @include altColor;
        }

        @include alt-color-c-blue {
          @include altColor;
        }
      }

      @include up(lg) {
        font-size: 1.8rem;
        padding-top: 1.3rem;
        padding-bottom: 1.1rem;
      }

      @include up(xl) {
        font-size: 2rem;
        padding: 1.8rem 2.4rem 1.4rem;
      }

      input[type='checkbox'] {
        appearance: none;
        background-color: vaR(--control-default-bg01);
        margin: 0 0.8rem 0 0;
        color: currentColor;
        width: 2rem;
        height: 2rem;
        border: 0.2rem solid var(--control-default-bg03-outline);
        border-radius: 0.6rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        pointer-events: none;
        @include transition(all);

        @include up(lg) {
          margin-right: 1rem;
          width: 2.2rem;
          height: 2.2rem;
          top: -0.1rem;
        }

        @include up(xl) {
          width: 2.6rem;
          height: 2.6rem;
          top: -0.2rem;
        }

        &:checked {
          + svg {
            opacity: 1;
          }
        }
      }

      input[type='checkbox'] + svg {
        width: 1rem;
        height: 1rem;
        position: absolute;
        transform: translateX(0.5rem);
        opacity: 0;
        color: var(--control-default-typo01);
        @include transition(opacity);

        @include up(lg) {
          width: 1.2rem;
          height: 1.2rem;
          transform: translate(0.5rem, -0.1rem);
        }

        @include up(xl) {
          width: 1.6rem;
          height: 1.6rem;
          transform: translate(0.5rem, -0.2rem);
        }
      }
    }

    &:not(.plugin-checkbox_options) {
      .option {
        &.selected {
          font-weight: 700;

          &:not(.active) {
            background: var(--control-state-bg03);
            color: var(--control-default-typo03);
          }
        }
      }
    }
  }
}

select.js-multiselect__select {
  clip: rect(0 0 0 0) !important;
  border: 0 !important;
  clip-path: inset(50%) !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.js-multiselect {
  &._hide-search {
    .dropdown-input {
      display: none;
    }
  }
}
